/*** REGATTAS LIST ***/
.regattas-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.regattas-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.regattas-list div {
	white-space: nowrap;
}

.regattas-list > div > div > div {
	display: inline-block;
}

.regattas-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 25%;
}
.regattas-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 25%;
}
.regattas-list > div > div:nth-child(2) > div:nth-child(3) {
	width: 25%;
	text-align: center;
}
.regattas-list > div > div:nth-child(2) > div:nth-child(4) {
	width: 25%;
	text-align: right;
	font-size: 14px;
}

.regattas-list > div > div:nth-child(3) > div:nth-child(1) {
	width: 75%;
}
.regattas-list > div > div:nth-child(3) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}

/*** RANKING LIST ***/
.ranking-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.ranking-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.ranking-list div {
	white-space: nowrap;
}

.ranking-list > div > div > div {
	display: inline-block;
}

.ranking-list > div > div:nth-child(1) > div:nth-child(1) {
	width: 25%;
}
.ranking-list > div > div:nth-child(1) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}
.ranking-list > div > div:nth-child(1) > div:nth-child(3) {
	width: 25%;
	text-align: right;
}

.ranking-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 75%;
}
.ranking-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}

/*** RANKING DETAIL LIST ***/
.ranking-detail-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.ranking-detail-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.ranking-detail-list div {
	white-space: nowrap;
}

.ranking-detail-list > div > div > div {
	display: inline-block;
}

.ranking-detail-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 50%;
}
.ranking-detail-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}
.ranking-detail-list > div > div:nth-child(2) > div:nth-child(3) {
	width: 25%;
	text-align: right;
}

.ranking-detail-list > div > div:nth-child(3) {
	border-bottom: 1px dashed #dee2e6;
}
.ranking-detail-list > div > div:nth-child(3) > div:nth-child(1) {
	width: 50%;
}
.ranking-detail-list > div > div:nth-child(3) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}

.ranking-detail-list > div > div:nth-child(4) > div:nth-child(1) {
	width: 50%;
}
.ranking-detail-list > div > div:nth-child(4) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}

.ranking-detail-list > div > div:nth-child(n+5) > div:nth-child(1) {
	width: 75%;
}
.ranking-detail-list > div > div:nth-child(n+5) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}

/*** NORMAL LIST ***/
.normal-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.normal-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.normal-list div {
	white-space: nowrap;
}

.normal-list > div > div > div {
	display: inline-block;
}

.normal-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 50%;
}
.normal-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}

/*** BLINKING ICONS ***/
@keyframes fa-blink {
	0% { opacity: 1; }
	25% { opacity: 0.25; }
	50% { opacity: 0.5; }
	75% { opacity: 0.75; }
	100% { opacity: 0; }
}
.fa-blink {
	-webkit-animation: fa-blink .75s linear infinite;
	-moz-animation: fa-blink .75s linear infinite;
	-ms-animation: fa-blink .75s linear infinite;
	-o-animation: fa-blink .75s linear infinite;
	animation: fa-blink .75s linear infinite;
}