/*** REGATTAS LIST ***/
.regattas-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.regattas-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.regattas-list div {
	white-space: nowrap;
}

.regattas-list > div > div > div {
	display: inline-block;
}

.regattas-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 25%;
}
.regattas-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 25%;
}
.regattas-list > div > div:nth-child(2) > div:nth-child(3) {
	width: 25%;
	text-align: center;
}
.regattas-list > div > div:nth-child(2) > div:nth-child(4) {
	width: 25%;
	text-align: right;
	font-size: 14px;
}

.regattas-list > div > div:nth-child(3) > div:nth-child(1) {
	width: 75%;
}
.regattas-list > div > div:nth-child(3) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}

/*** RANKING LIST ***/
.ranking-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.ranking-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.ranking-list div {
	white-space: nowrap;
}

.ranking-list > div > div > div {
	display: inline-block;
}

.ranking-list > div > div:nth-child(1) > div:nth-child(1) {
	width: 25%;
}
.ranking-list > div > div:nth-child(1) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}
.ranking-list > div > div:nth-child(1) > div:nth-child(3) {
	width: 25%;
	text-align: right;
}

.ranking-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 75%;
}
.ranking-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}

/*** RANKING DETAIL LIST ***/
.ranking-detail-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.ranking-detail-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.ranking-detail-list div {
	white-space: nowrap;
}

.ranking-detail-list > div > div > div {
	display: inline-block;
}

.ranking-detail-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 50%;
}
.ranking-detail-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}
.ranking-detail-list > div > div:nth-child(2) > div:nth-child(3) {
	width: 25%;
	text-align: right;
}

.ranking-detail-list > div > div:nth-child(3) {
	border-bottom: 1px dashed #dee2e6;
}
.ranking-detail-list > div > div:nth-child(3) > div:nth-child(1) {
	width: 50%;
}
.ranking-detail-list > div > div:nth-child(3) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}

.ranking-detail-list > div > div:nth-child(4) > div:nth-child(1) {
	width: 50%;
}
.ranking-detail-list > div > div:nth-child(4) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}

.ranking-detail-list > div > div:nth-child(n+5) > div:nth-child(1) {
	width: 75%;
}
.ranking-detail-list > div > div:nth-child(n+5) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}

/*** EXPENDITURES LIST ***/
.expenditures-list.display-border > div {
	border-bottom: 1px solid #dee2e6;
}
.expenditures-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	cursor: pointer;
}

.expenditures-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.expenditures-list div {
	white-space: nowrap;
}

.expenditures-list > div > div > div {
	display: inline-block;
}

.expenditures-list > div > div:nth-child(1) > div:nth-child(1) {
	width: calc(75% - 1.5em);
}
.expenditures-list > div > div:nth-child(1) > div:nth-child(2) {
	width: 25%;
	text-align: right;
}
.expenditures-list > div > div:nth-child(1) > div:nth-child(3) {
	width: 1.5em;
	text-align: right;
}

.expenditures-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 6em;
}
.expenditures-list > div > div:nth-child(2) > div:nth-child(2) {
	width: calc(70% - 6em);
	overflow-x: visible;
}
.expenditures-list > div > div:nth-child(2) > div:nth-child(3) {
	width: 30%;
	text-align: right;
}

.expenditures-list > div.sum {
	padding: 0;
}
.expenditures-list > div.sum > div:nth-child(1) {
	background: #dee2e6;
	height: 1px;
	display: flex;
	justify-content: center;
}
.expenditures-list > div.sum > div:nth-child(1) > div:nth-child(1) {
	background: #fff;
	width: initial;
	margin-top: -1em;
	padding: 0 .5em;
}
.theme-dark .expenditures-list > div.sum > div:nth-child(1) > div:nth-child(1) {
	background-color: #0f1117;
}

/*** NORMAL LIST ***/
.normal-list > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	cursor: pointer;
}

.normal-list > div:last-child {
	border: 0;
	padding-bottom: 0;
}

.normal-list div {
	white-space: nowrap;
}

.normal-list > div > div > div {
	display: inline-block;
}

.normal-list > div > div:nth-child(2) > div:nth-child(1) {
	width: 50%;
}
.normal-list > div > div:nth-child(2) > div:nth-child(2) {
	width: 50%;
	text-align: right;
}

/*** BLOCKQUOTE ***/
blockquote {
	border-left: 0.5em solid rgba(0, 0, 0, 0.125);
	font-style: italic;
	padding-left: 1em;
}

/*** BLINKING ICONS ***/
@keyframes fa-blink {
	0% { opacity: 1; }
	25% { opacity: 0.25; }
	50% { opacity: 0.5; }
	75% { opacity: 0.75; }
	100% { opacity: 0; }
}
.fa-blink {
	-webkit-animation: fa-blink .75s linear infinite;
	-moz-animation: fa-blink .75s linear infinite;
	-ms-animation: fa-blink .75s linear infinite;
	-o-animation: fa-blink .75s linear infinite;
	animation: fa-blink .75s linear infinite;
}
